* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(53,54,54);
    color: yellowgreen;
}

:root{
    --bs-body-bg: rgb(53,54,54);
}

/* Fonts styles */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=PT+Sans&display=swap');