@import '../base/reset';
@import '../base/mapas';
@import '../base/listas';
@import '../base/variables';

footer{
    padding: 40px;

    .text-white{
        text-decoration: none;
        --bs-text-opacity: none;
    }
    
}

.bg-dark{
        
    --bs-bg-opacity: 0;
}